@import "tailwindcss/preflight";
@tailwind utilities;

:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
  background-color: #0b0b0f;
  color: #e5e7eb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, Cantarell;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #27272a transparent;
}
